@import 'compass/reset';
body{
	background-color:#473E39;
}
.wrap{
	min-width:1000px;
	padding:60px;
	position:relative;
	h1{
		padding:5px;
		background-color:#2A211C;
		a{
			font-size:20px;
		}
	}
	#files-view{
		position:absolute;
		width:200px;
		padding:30px 10px;
		a{
			color:#fff;
			font-weight:bold;
			&.del{
				color:red;
			}
			&.file{
				color:blue;
			}
		}
	}
	
}

#files-panel{
	padding:5px;
	background-color:#555;
	.del{
		float:right;
	}
}

#editors{
	margin:0 auto;
	margin-left:250px;
	.coffee-wrap,.script-wrap{
		position:relative;
		min-height:800px;
	}
	.coffee-wrap{
		position:relative;
		left:20px;
		float:left;
		width:60%;
	}
	.script-wrap{
		float:right;
		width:40%;
	}
	#coffee-editor,#script-editor{
		position:absolute;
		-webkit-box-shadow: 0px 0px 20px #222;
  		-moz-box-shadow: 0px 0px 20px #222;
  		box-shadow: 0px 0px 20px #222;
		width:100%;
		height:100%;
		.ace_gutter{
			background-color:#2A211C;
		}
	}
}

